<!-- This is your site header, you can replace this with whichever header you want to use -->

<header class="grid">
  <div class="col-4_sm-12-middle">
    <a href="/">
      <h2 class="logo"> LOGO </h2>
    </a>
  </div>
  <nav class="col-8-middle mob-hide right" id="search-query-container">
    {% include site-navigation.html %}
  </nav>

</header>


<!-- this is the button to open and close your hamburger menu -->
<div class="hamburger">
  <i class="fas fa-bars"></i>
</div>

<!-- This is the mobile menu  -->
<nav class="mobile-menu">
  {% include site-navigation.html %}
</nav>
