<section class="banner grid-right padded" style="background-image:url('{{include.block.background_image}}')">
  <div class="col-6_sm-12-middle">
    <h3 class="big-bold">
          <span class="highlight"> {{include.block.line-1}} </span> <br>
          <span class="highlight"> {{include.block.line-2}} </span> <br>
          <span class="highlight"> {{include.block.line-3}} </span>
        </h3>
    <a href="{{include.block.link_url}}" class="button inverted"> {{include.block.link-text}}</a>
  </div>
</section>
