<section class="light-bg">
  {% if block.first-pic-right == true %}
  <div class="">
  </div>
  {% endif %}
  {% for layer in block.layer %}
  <div class="grid flex-flip">
    <div class="col-6_sm-12 bg-image" style="background-image:url('{{layer.picture_image}}')">
    </div>
    <div class="col-6_sm-12-middle padded">
      <h3> This this a heading </h3>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      <a class="arrow" href="#"> > </a>
    </div>
  </div>
  {% endfor %}

</section>
