---
layout: default
---

<!-- this is your post layout, each of your individual blog post pages will use this layout. -->
<section class="grid padded">

  <div class="col-8_sm-12 post-body padded-1">
      <h1> {{page.title}} </h1>

      <p class="post-meta">{{page.date | date_to_string }} | Written by {{page.author}}</p>

      <!-- this automatically outputs each category tag -->
      <p>
        {% for category in page.categories %}
          <a href="/archives/{{category | slugify }}" class="category"> {{category}} </a>
        {% endfor %}
      </p> <!-- end categories -->

      <img class="full-width" src="{{page.image_path}}">

      {{content}}

      {% include social-share.html %}

  </div>

  <div class="col-4_sm-12 padded-1 mob-hide sidebar">

      <!-- sidebar box 1 -->
      <div>
        <h3> This is a sidebar box </h3>
        <p> You can edit the content of the sidebar box in your post layout. </p>
      </div>

      <!-- sidebar box 2 -->
      <div>
        <p> You could put anything you want in here, like links to your social or featured articles, a newsletter signup, etc </p>
      </div>

      <!-- sidebar box 3 -->
      <div>
        <h3> Categories </h3>

        <!-- this will output a list of all the categories on your site -->
        {% for category in site.categories %}
          <a href="/archives/{{category[0] | slugify }}" class="category"> {{category[0]}} </a>
        {% endfor %}

      </div>

  </div><!-- close sidebar -->
</section>
